@import "./../TrangDanhSachPhong/style_danhsachphong.css";

#roomDetailPage header .navbar .input-area {
  display: none;
}

/* Carousel Container */
.carousel__container {
  padding: 0px !important;
}

.pictures__container {
  height: 25rem;
  overflow: hidden;
}

.pictures__container img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

/* Customize slick carousel */
#carousel__container .slick-active {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

@media screen and (max-width: 991.5px) {
  #carousel__container .slick-active {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#carousel__container div.slick-active.slick-current {
  padding-left: 0px;
}

#carousel__container .slick-active.slick-current + div.slick-active {
  padding-right: 0;
}

#carousel__container button.slick-next,
#carousel__container button.slick-prev {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  display: flex !important ;
  justify-content: center;
  align-items: center;
}

#carousel__container button.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
}

#carousel__container button.slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
}

#carousel__container button.slick-next::before,
#carousel__container button.slick-prev::before {
  font-size: 20px;
  color: white;
}

#carousel__container button.slick-arrow.slick-prev {
  left: 1%;
  z-index: 999;
}

#carousel__container button.slick-arrow.slick-next {
  right: 1%;
  z-index: 999;
}

/* Room Info */
#roomDetailPage {
  font-weight: 400;
}

#roomDetailPage header {
  position: unset;
}

#roomDetailPage .roomInfo__container {
  padding: 2.5rem 7.5rem;
}

#roomDetailPage .roomInfo__container .room__info {
  padding-right: 4rem;
}

#roomDetailPage .title {
  font-weight: 800;
}

#roomDetailPage .location__desc {
  font-size: 1.125rem;
  font-weight: 600;
}

#roomDetailPage .room__quantity span {
  font-size: 1rem;
}

.room__utilities {
  min-width: 35rem;
}

.w-90 {
  width: 90% !important;
}

#roomDetailPage .booking__form,
#roomDetailPage .time__input,
#roomDetailPage .guest__input {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.375rem;
}

#roomDetailPage .time__input div {
  font-size: 1rem;
}

#roomDetailPage .price__container .price {
  font-weight: 700;
  font-size: 2rem;
}

#roomDetailPage .total__price {
  font-weight: 700;
}

#roomDetailPage .booking__form {
  position: sticky;
  top: 4.375rem;
}

#roomDetailPage .date__input {
  min-width: 4.375rem;
}

/* *Customize Date Range Picker */
/* #roomDetailPage .DateRangePicker.DateRangePicker_1 {
  visibility: collapse;
  height: 0 !important;
} */

#roomDetailPage .DateInput.DateInput_1 {
  display: none;
}

#roomDetailPage
  .DateRangePickerInput_arrow_svg.DateRangePickerInput_arrow_svg_1 {
  height: 0;
  width: 0;
}

.DateRangePickerInput_arrow.DateRangePickerInput_arrow_1 {
  display: none;
}

#roomDetailPage .DateRangePicker_picker.DateRangePicker_picker_1 {
  top: 1rem !important;
  /* left: 0 !important; */
}

#roomDetailPage .min__width--40 {
  min-width: 40%;
}

/*@RoomInfo - Guest Selection  */
#roomDetailPage .guest__input .dropdown-menu {
  top: auto !important;
  transform: translate3d(0px, 1rem, 0px) !important;
  box-shadow: 0 0 10px 2px #cacccd !important;
  border-radius: 0.375rem;
}

/* Room Review */
#roomDetailPage .roomReview__container {
  padding: 0rem 7.5rem;
}

#roomDetailPage .title {
  font-weight: 800;
}

#roomDetailPage .review__header img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 3.75rem;
  object-fit: cover;
  object-position: bottom;
}

#roomDetailPage .review__header .name {
  font-weight: 600;
}

#roomDetailPage .review__card:nth-child(even) {
  padding-left: 2rem;
}

#roomDetailPage .review__card:nth-child(odd) {
  padding-right: 2rem;
}

@media screen and (max-width: 1199px) {
  #roomDetailPage .roomInfo__container {
    padding: 2rem 4.5rem;
  }
  #roomDetailPage .roomInfo__container .room__info {
    padding-right: 3rem;
  }
  #roomDetailPage .roomReview__container {
    padding: 0rem 4.5rem;
  }
}

@media screen and (max-width: 1000px) {
  #roomDetailPage .roomInfo__container {
    padding: 2rem 3rem;
  }
  #roomDetailPage .roomInfo__container .room__info {
    padding-right: 3rem;
  }
  #roomDetailPage .roomReview__container {
    padding: 0rem 3rem;
  }
}

@media screen and (max-width: 800px) {
  #roomDetailPage .roomInfo__container {
    padding: 2rem 2rem;
  }
  #roomDetailPage .roomInfo__container .room__info {
    padding-right: 2.5rem;
  }
  #roomDetailPage .roomReview__container {
    padding: 0rem 2rem;
  }
}
