/* Room Info */
#roomBookingPage .bookingInfo__container {
  padding: 0 5rem;
  background-color: #f4f4f4;
  border-radius: 0.375rem;
}

#roomBookingPage .navbar div.input-area,
#roomBookingPage .navbar .navbar-toggler,
#roomBookingPage .navbar .navbar-collapse {
  display: none !important;
}

#roomBookingPage .bookingInfo__container .main__title {
  padding: 40px 0px 30px;
  margin-bottom: 0;
}

#roomBookingPage .guest__info div {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

#roomBookingPage .date__info div.date__content {
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

#roomBookingPage .date__info div.date__content span {
  color: gray;
}

#roomBookingPage .date__info div.date__content p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

#roomBookingPage .date__info div.colorful__bar {
  height: 0.3rem;
  width: 50%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

#roomBookingPage .date__info .date__container:first-of-type .colorful__bar {
  background-color: green;
}

#roomBookingPage .date__info .date__container:last-child .colorful__bar {
  background-color: orange;
}

.pl-4rem {
  padding-left: 4rem !important;
}

#roomBookingPage .bookingInfo__container .roomDetail__container {
  padding-left: 9rem;
}

@media screen and (max-width: 1199px) {
  #roomBookingPage .bookingInfo__container {
    padding: 0 4rem;
  }

  #roomBookingPage .bookingInfo__container .roomDetail__container {
    padding-left: 7rem;
  }
}

@media screen and (max-width: 767px) {
  #roomBookingPage .bookingInfo__container {
    padding: 0 3rem;
  }

  #roomBookingPage .bookingInfo__container .roomDetail__container {
    padding-left: 4rem;
  }
}

#roomBookingPage .bookingInfo__container .room__info {
  background-color: #fff;
  border-radius: 0.5rem;
}

#roomBookingPage .room__info .room__title h5 {
  font-size: 1.125rem;
  font-weight: 700;
}

#roomBookingPage .room__title .location {
  font-size: 0.875rem;
}

#roomBookingPage .room__title img {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 90px;
}

#roomBookingPage .room__info p {
  margin-bottom: 0.875rem;
}

#roomBookingPage .room__info .total__price p {
  font-weight: 700;
}

#roomBookingPage .room__info .policies p {
  font-size: 0.75rem;
  margin-bottom: 0;
}
